.container {
	max-width: 800px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 20px;
	text-align: center;
}

h1 {
	font-size: 33px;
	color: #2c7a7b;
	margin-bottom: 10px;
}

h2 {
	font-size: 24px;
	color: #2c7a7b;
	margin-top: 10px;
	margin-bottom: 20px;
}

ul {
	list-style: none;
	padding-left: 0;
	margin-bottom: 30px;
}

li {
	background-color: #edf2f7;
	margin: 10px 0;
	padding: 12px;
	border-radius: 6px;
	transition: background-color 0.3s ease;
}

li:hover {
	background-color: #e2e8f0;
}

li:nth-child(odd) {
	background-color: #f7fafc;
}

.text-green {
	color: #38a169;
}

dialog {
	width: 100%;
	max-width: 400px;
	border: none;
	border-radius: 10px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	padding: 20px;
	position: fixed;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: left;
}

dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.5);
}

dialog p {
	font-size: 20px;
	font-weight: bold;
	color: #2c7a7b;
	margin-bottom: 20px;
}

dialog label {
	display: block;
	font-size: 16px;
	margin-bottom: 8px;
	color: #2c7a7b;
}

dialog input[type='text'],
dialog input[type='date'] {
	width: calc(100% - 20px);
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #cbd5e0;
	border-radius: 6px;
	box-sizing: border-box;
}

dialog form {
	display: flex;
	flex-direction: column;
}

dialog button {
	background-color: #38a169;
	color: white;
	border: none;
	padding: 10px;
	border-radius: 6px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	width: 100%;
	font-weight: 600;
}

dialog button:hover {
	background-color: #2f855a;
}

.dialog-form-btn-group {
	display: flex;
	justify-content: space-evenly;
	gap: 5px;
	font-weight: 600;
}

.dialog-open-btn {
	background-color: #38a169;
	color: white;
	border: none;
	padding: 10px;
	border-radius: 6px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	width: 100%;
	font-weight: 600;
}

.dialog-open-btn:hover {
	background-color: #2f855a;
}

.food-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
